.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.sqlite
*.sqlite3
.coverage
.pytest_cache/
.mypy_cache/
dist/
build/
.eggs/
*.egg-info/
.git
.gitignore
.vscode/
.idea/
workspace.ipynb
tests/
docs/
