## CONTEXT: 
You have access to a dataset retrieved for the user's query with {{ row_count }} rows. 

## User Instuctions
{{ user_instructions }}

## Data Sample
{{ data_sample }}

## Available Tools:
Use the `explain_data` or `describe_dataset` tools to inspect it further if needed. 

## IMPORTANT:
Do NOT request this data again.
        